#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-title {
  color:#7FFFD3;
margin-top: 7rem;
font-size: 4rem;
margin-bottom: 1rem;
}

#login-form {
display: flex;
gap: 1.5rem;
background-color: black;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 2rem;
border: 1px solid #7FFFD3;
border-radius: 1rem;
width: 25rem;
height: 20rem;
box-shadow: 0 0 10px #7FFFD3;
}

#login-submit{
width: 5rem;
height: 2rem;
border-radius: 1rem;
border: 1px solid #7FFFD3;
background-color: #7FFFD3;
margin-bottom: -1rem;
color:black;
}

#login-submit:hover {
transform: translateY(-.1rem);
transition: all 1s;
box-shadow: 0 0 10px #7FFFD3;
}

#login-error {
  width: 10rem;
  text-align: center;
}

#login-form input {
border-radius: 1rem;
border: 1px solid #7FFFD3;
padding: .5rem;
width: 15rem;
background-color: #7FFFD3;
}

#login-form input::placeholder {
color: black;
}

#login-form input:hover {
transform: translateY(-.1rem);
box-shadow: 0 0 10px #7FFFD3;
}

#login-error {
    color: white;
}
