#google-maps {
 display: flex;
 justify-content: center;
 margin-top: 7rem;
 overflow: hidden;
 border-radius: 1rem;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    #google-maps {
        margin: 2rem 1rem;
        width: calc(100% - 2rem);
    }
}
